<section class="cases mb-6 mb-lg-10">
	<div class="cases__grid">
		{% for case in site.cases %}
			<div class="cases__item">
				<img src="{{ case.img }}" alt="" class="cases__img img-fluid">
			</div>
		{% endfor %}
	</div>
	<div class="cases__story py-4 px-4 rounded-4">
		<h3 class="fs-20 fs-lg-32 text-center mb-2 mb-lg-4">Истории тех, кто уже прошел этот путь</h3>
		<p class="text-center mb-2 mb-lg-4">Разбор кейсов</p>
		<div class="d-flex justify-content-center">
			<a href="/cases.html" class="btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-4 px-md-5 py-2 py-lg-3 ">Ознакомиться</a>
		</div>
	</div>
</section>
