<section class="cost min-vh-100 py-6 d-flex position-relative">
    <div class="container d-flex flex-column flex-fill justify-content-end">
        <div class="row">
            <div class="col-12">
                <img src="/src/assets/img/cost-bg.png" alt="Записывайтесь на пробную консультацию" class="img-fluid cost__bg" />
            </div>
        </div>
        <div class="row align-items-end mt-n5 mt-md-n8 mt-xl-0">
            <div class="col-lg-9 col-xl-7">
                <div class="position-relative bg-white py-45 px-3 px-lg-45 shadow rounded-5">
                    <h2 class="fs-24 fs-lg-48 lh-sm mb-2 wow fadeInUp" data-wow-delay="0.4s">Стоимость и условия&nbsp;оплаты</h2>
                    <div>* Оплата возможна только после пробной консультации</div>

                    <div class="d-flex flex-column flex-md-row gap-3 mt-5 mb-4 cost__radios">
                        <label>
                            <input class="cost__radio" type="radio" value="Сразу" name="user-cost" id="" />
                            <span class="cost__span btn btn-outline-secondary text-primary rounded-pill px-4 py-2" data-cost-radio="now">Оплата сразу</span>
                        </label>

                        <label>
                            <input class="cost__radio" type="radio" value="12 месяцев" name="user-cost" id="" />
                            <span class="cost__span btn btn-outline-secondary text-primary rounded-pill px-4 py-2" data-cost-radio="12">12 месяцев</span>
                        </label>

                        <label>
                            <input class="cost__radio" type="radio" value="24 месяца" name="user-cost" id="" checked />
                            <span class="cost__span btn btn-outline-secondary text-primary rounded-pill px-4 py-2 active" data-cost-radio="24">24 месяца</span>
                        </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="cost__price">
                            <div class="cost__price--now d-none" data-cost-price="now">
                                <div class="d-flex align-items-baseline">
                                    <div class="fw-700 fs-32 fs-lg-60 me-4">170 000</div>
                                    <div class="fw-700 fs-14 text-decoration-line-through">200 000 ₽</div>
                                </div>
                                <div class="d-flex gap-3">
                                    <div class="fs-14">Супер скидка 15%</div>
                                </div>
                            </div>
                            <div class="cost__price--12 d-none" data-cost-price="12">
                                <div class="d-flex align-items-baseline">
                                    <div class="fw-700 fs-32 fs-lg-60">16 667 ₽ /</div>
                                    <div class="fw-700 fs-14">мес</div>
                                </div>
                                <div class="d-flex gap-3">
                                    <div class="fs-14">Рассрочка на 12 месяцев</div>
                                    <div class="fs-14">Без первого взноса</div>
                                </div>
                            </div>
                            <div class="cost__price--24" data-cost-price="24">
                                <div class="d-flex align-items-baseline">
                                    <div class="fw-700 fs-32 fs-lg-60">8 334 ₽ /</div>
                                    <div class="fw-700 fs-14">мес</div>
                                </div>
                                <div class="d-flex gap-3">
                                    <div class="fs-14">Рассрочка на 24 месяца</div>
                                    <div class="fs-14">Без первого взноса</div>
                                </div>
                            </div>
                        </div>

                        <div class="cost__img">
                            <img src="/src/assets/img/cost-discount.svg" alt="Суперскидка 15%" width="180" />
                        </div>
                    </div>

                    <div class="d-flex flex-column align-items-start gap-4 mt-2">
                        <a href="https://n1152303.yclients.com" data-url="https://n1152303.yclients.com" class="ms_booking btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-5 py-3">
                            Записаться на пробную консультацию *
                        </a>
                        <div>* Пробная консультация является бесплатной</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
