<footer class="footer py-6 bg-light text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="/" class="text-primary text-decoration-none">
					<span class="fw-700 fs-20 text-center">Татьяна Сергеева</span>
					<div class="vr"></div>
					<span class="fw-300 fs-20 text-center text-uppercase">КЛИНИЧЕСКИЙ И СЕМЕЙНЫЙ ПСИХОЛОГ</span>
				</a>
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled">
					<li><a href="/requisites.html" class="text-primary">Реквизиты</a></li>
					<li><a href="/oferta.html" class="text-primary">Публичная оферта</a></li>
					<li><a href="/return-policy.html" class="text-primary">Правила возврата денежных средств</a></li>
					<li><a href="/assets/files/privacy-policy.pdf" target="_blank" class="text-primary">Политика конфиденциальности</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
