<header class="header">
	<div class="container">
		<div class="row py-4">
			<div class="col-12">
				<nav class="d-flex align-items-start align-items-lg-center justify-content-between">
					<a href="/" class="text-primary text-decoration-none d-flex flex-column flex-lg-row gap-2">
						<span class="fw-700 fs-20">Интенсив</span>
						<div class="vr d-none d-lg-block"></div>
						<span class="fw-300 fs-20 text-uppercase"> Путь ребенка</span>
					</a>
				</nav>
			</div>
		</div>
	</div>
</header>
