<header>
	<div class="container">
		<div class="row py-4">
			<div class="col-12">
				<a href="/" class="text-primary text-decoration-none">
					<span class="fw-700 fs-20 text-center">Татьяна Сергеева</span>
					<div class="vr"></div>
					<span class="fw-300 fs-20 text-center text-uppercase">КЛИНИЧЕСКИЙ И СЕМЕЙНЫЙ ПСИХОЛОГ</span>
				</a>
			</div>
		</div>
	</div>
</header>
