<section class="help-you bg-secondary ">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="d-flex align-items-end justify-content-center h-100">
					<img src="/src/assets/img/help-you-bg.png" alt="" class="img-fluid help-you__img">
				</div>
			</div>
			<div class="col-md-6 py-6">
				<div class="help-you__offer p-45 bg-white shadow-sm">
					<h2 class="fs-36 fw-700 mb-4">Помогу стать такой, какой ты мечтаешь быть</h2>
					<p class="fs-20 mb-45">Покажу слепые зоны психики, которые мешают развиваться в важных для тебя направлениях</p>
					<div class="d-flex justify-content-center">
						<a href="#" class="btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-5 py-3">Узнать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
