<section class="help-you bg-secondary ">
	<div class="container">
		<div class="row align-items-center">
			<div class="order-2 order-lg-1 col-md-6">
				<div class="d-flex align-items-end justify-content-center h-100">
					<img src="/src/assets/img/help-you-bg.png" alt="" class="img-fluid help-you__img wow fadeInUp">
				</div>
			</div>
			<div class="order-1 order-md-2 col-md-6 py-6">
				<div class="help-you__offer px-4 py-45 p-lg-45 bg-white shadow-sm">
					<h2 class="fs-36 fw-700 mb-4 wow fadeInUp" data-wow-delay="0.5s">Помогу стать такой, какой ты мечтаешь быть</h2>
					<p class="fs-16 fs-20 mb-4 mb-45 wow fadeInUp" data-wow-delay="1s">Покажу слепые зоны психики, которые мешают развиваться в важных для тебя направлениях</p>
					<div class="d-flex justify-content-center">
						<a href="#steps" class="btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-5 py-3">Узнать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
