<section class="min-vh-100 pb-10">
	<div class="container">
		<div class="row ">

			<div class="col-8 offset-4">
				<div class="d-flex flex-column align-items-center">
					<div class="main__author">
						<img src="/src/assets/img/main-author.png" alt="Сергеева Татьяна" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="main__offer bg-white px-4 py-45  shadow-sm">
					<h1 class="main__title fw-700 fs-60 mb-45">Обрети уверенность в себе и в&nbsp;своем будущем за 6 консультаций</h1>
					<p class="fs-24 mb-45">За счет индивидуальной работы, которая ориентирована на твои уникальные потребности и цели, с более глубоким пониманием своих действий и реакций и составлением четкого плана, по которому ты будешь двигаться вперед</p>
					<p class="fs-32 lh-sm mb-45">С отсутствием любого осуждения и немедленной поддержкой в случае кризисных ситуаций</p>
					<div class="d-flex flex-column align-items-center gap-4">
						<a href="" class="btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-5 py-3">Записаться на пробную консультацию *</a>
						<div>* Бесплатно</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
