<section class="main min-vh-100 pb-6 pb-lg-10">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-4">
				<div class="d-flex flex-column align-items-center">
					<div class="main__author wow fadeInUp">
						<img src="/src/assets/img/main-author.png" alt="Сергеева Татьяна" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="main__offer bg-white px-3 px-lg-4 py-45 shadow-sm">
					<h1 class="main__title fw-700 fs-32 fs-lg-60 mb-45 wow fadeInUp" data-wow-delay="0.5s">Обрети уверенность в себе и в&nbsp;своем будущем за 6 консультаций</h1>
					<p class="fs-16 fs-lg-24 mb-45 wow fadeInUp" data-wow-delay="1s">За счет индивидуальной работы, которая ориентирована на твои уникальные потребности и цели, с более глубоким пониманием своих действий и реакций и составлением четкого плана, по которому ты будешь двигаться вперед</p>
					<div class="d-flex flex-column align-items-center gap-4">
						<a href="#formModal" data-bs-toggle="modal" data-bs-target="#formModal" class="btn btn-outline-secondary fw-700 text-primary text-uppercase rounded-pill px-5 py-3">Записаться на пробную консультацию *</a>
						<div>* Пробная консультация является бесплатной</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
