<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header px-lg-45 bg-secondary border-secondary">
				<h3 class="fs-24 fs-lg-32">Заполните контактные данные</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-lg-45 bg-secondary">
				<form class="form" method="post" novalidate>
					<div class="d-flex flex-column gap-3">
						<div class="form-group">
							<input type="text" name="user-name" id="" placeholder="Имя" class="form-control fs-24 py-2 px-4 w-100 rounded-4 bg-secondary-light border-0">
							<div class="form-text"></div>
						</div>
						<div class="form-group">
							<input type="text" name="user-phone" id="" placeholder="+7 912 345-67-89" class="form-control fs-24 py-2 px-4 w-100 rounded-4 bg-secondary-light border-0">
							<div class="form-text"></div>
						</div>
						<div class="form-group">
							<input type="text" name="user-email" id="" placeholder="Email" class="form-control fs-24 py-2 px-4 w-100 rounded-4 bg-secondary-light border-0">
							<div class="form-text"></div>
						</div>
						<div class="form-check form-group">
							<input class="form-check-input" type="checkbox" value="" name="user-polcy" id="flexCheckChecked" checked>
							<label class="form-check-label" for="flexCheckChecked">
								Я соглашаюсь на обработку <a href="" class="text-primary">персональных данных</a>
							</label>
							<div class="form-text"></div>
						</div>
						<div class="d-flex flex-column align-items-center gap-4">
							<button type="submit" class="btn btn-secondary bg-white fw-700 text-primary text-uppercase rounded-pill px-5 py-3 w-100">Записаться на пробную консультацию *</a>
							<div>* Пробная консультация является бесплатной</div>
						</div>
					</div>
				</form>
      </div>
    </div>
  </div>
</div>
