<section class="profit pb-6 pb-lg-10">
	<div class="container">
		<div class="row mb-45 mb-lg-6">
			<div class="col-lg-8 offset-lg-2">
				<img src="/src/assets/img/profit-bg.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6">
				<h2 class="profit__title fs-24 fs-lg-48 p-4 rounded-4 shadow-sm bg-white wow fadeInUp" data-wow-delay="0.4s">Почему это безумно легко, просто, удобно и&nbsp;интересно?</h2>
			</div>
		</div>
		<div class="row gx-lg-4 gy-3 gy-md-45">
			{% for profit in site.profit %}
				<div class="col-md-6">
					<div class="p-4 h-100 border-light border-bottom position-relative">
						<div class="profit__number">{{ profit.number }}</div>
						<div class="fw-600 fs-24 lh-sm text-uppercase mb-45">{{ profit.title }}</div>
						<p class="fs-16 fs-lg-20">{{ profit.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
