<section class="steps pb-6 pb-lg-10">
	<div class="container">
		<div class="row position-relative">
			<div class="col-md-6">
				<h2 class="d-block d-md-none fs-24 fs-lg-48 mb-4 text-secondary">Что мы можем сделать:</h2>
				<div class="d-flex justify-content-center sticky-top my-45 my-md-0">
					<img src="/src/assets/img/steps-bg.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="d-none d-md-block fs-24 fs-lg-48 mb-4 text-secondary">Что мы можем сделать:</h2>
				{% for step in site.steps %}
					<div class="steps__item py-4 mb-md-3">
						<div class="fs-16 fs-lg-20">{{ step }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
