// Базовый файл стилей

.header {
	position: relative;

	&__navbar {
		@include media-breakpoint-up(lg) {
			position: static;
			border-top: none;
		}

		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		border-top: 1px solid $light;
	}
}

.main {
	position: relative;

	&__offer {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		position: relative;
		z-index: 2;
		margin-top: -250px;
		border-radius: 50px;
	}

	&__title {
		line-height: 1.1;
	}
}

.help-you {
	position: relative;

	&__img {
		max-height: 600px;
	}

	&__offer {
		border-radius: 50px;
	}
}

.problems {
	position: relative;

	&__dot {
		flex-shrink: 0;
		width: 24px;
		margin-right: 24px;
		background-color: $secondary;
		border-radius: 100%;
		aspect-ratio: 1;
	}
}

.reason {
	position: relative;

	&__offer {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		margin-top: -200px;
		border-radius: 50px;
	}

	&__card {
		background: $secondarylight;
	}
}

.steps {
	position: relative;

	&__item {
		position: relative;
		border-radius: 24px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: $secondary;
			border-radius: 50px;
			content: '';
		}

		&:last-child {
			content: '';

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 4px;
				background-color: $secondary;
				border-radius: 50px;
				content: '';
			}
		}
	}
}

.technology {
	position: relative;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		margin: 20px auto;
		background: $secondary;
		border-radius: 100%;
		aspect-ratio: 1;
	}

	&__mockup {
		position: relative;
		background: $secondarylight;
		border-radius: var(--bs-border-radius-xl);
		border-bottom-left-radius: 0;

		&::before {
			position: absolute;
			bottom: -16px;
			left: 0;
			width: 16px;
			height: 16px;
			border-color: $secondarylight transparent transparent transparent;
			border-style: solid;
			border-width: 16px 16px 0 0;
			content: '';
		}
	}
}

.profit {
	position: relative;

	&__title {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		margin-top: -270px;
	}

	&__number {
		position: absolute;
		right: 0;
		bottom: 0;
		color: $secondary;
		font-weight: 900;
		font-size: 250px;
		line-height: 1;
		opacity: 0.1;
	}
}

.cases {
	position: relative;

	&__grid {
		@include media-breakpoint-down(lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		@include media-breakpoint-down(lg) {
			&:nth-child(3) {
				order: 6 !important;
			}

			&:nth-child(6) {
				order: 3 !important;
			}
		}

		overflow: hidden;
		background-color: $secondary;

		&:nth-child(1) {
			order: 1;
		}

		&:nth-child(2) {
			order: 2;
		}

		&:nth-child(3) {
			order: 3;
		}

		&:nth-child(4) {
			order: 4;
		}

		&:nth-child(5) {
			order: 5;
		}

		&:nth-child(6) {
			order: 6;
		}
	}

	&__img {
		transition: transform 0.5s ease;

		&:hover {
			transform: scale(1.1);
			transition: transform 0.5s ease;
		}
	}

	&__story {
		@include media-breakpoint-down(md) {
			top: 30%;
			max-width: 330px;
		}

		position: absolute;
		top: 35%;
		left: 50%;
		z-index: 2;
		width: 100%;
		max-width: 450px;
		background: #fff;
		transform: translateX(-50%);
	}
}

.cost {
	position: relative;
	overflow: hidden;

	&__bg {
		@include media-breakpoint-down(lg) {
			background: $secondarylight;
			border-radius: 0;
		}

		background: linear-gradient(90deg, $secondarylight 0%, $secondarylight 50%, $secondary 50%, $secondary 100%);

		border-radius: $border-radius-xl;
	}

	&__span {
		background-color: #fff;

		&.active {
			font-weight: 500;
		}
	}

	&__radio {
		display: none;
	}

	&__img {
		@include media-breakpoint-down(lg) {
			bottom: 25%;
		}

		position: absolute;
		right: -16px;
		bottom: -5%;
	}
}

.form-control {
	position: relative;

	&::placeholder {
		color: rgba($primary, 0.4);
	}
}

.faq {
	position: relative;

	.accordion-item {
		border: 1px solid $secondarylight;
		border-radius: $border-radius-xl;
	}

	.accordion-button {
		background-color: $secondarylight;
	}
}

.cases-main {
	position: relative;

	&__bg {
		background: $secondarylight;
	}
}

.cases-items {
	position: relative;

	&__img {
		border: 4px solid #fff;
		border-radius: 100%;
	}

	&__bg {
		background: rgba($light, 0.24);
	}

	&__list {
		list-style: none;

		li {
			display: flex;
		}

		li::before {
			display: inline-flex;
			margin-right: 16px;
			color: $secondary;
			font-weight: 900;
			content: '•';
		}
	}
}

.reviews-slider {
	position: relative;

	&__img {
		position: absolute;
		top: -50px;
		left: 50%;
		border: 4px solid #fff;
		border-radius: 100%;
		box-shadow: $box-shadow;
		transform: translateX(-50%);
	}
}

.swiper-button-prev,
.swiper-button-next {
	@include media-breakpoint-down(md) {
		top: 0;
		margin-top: 0;
	}

	z-index: 10;
	width: 45px;
	height: 45px;
	color: $secondary;
	background: #fff;
	border-radius: 100%;
	box-shadow: $box-shadow;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	font-weight: 900;
	font-size: 24px;
}

.privacy-policy {
	position: relative;

	ol {
		list-style-type: none;
		counter-reset: section;
	}

	li::before {
		content: counters(section, '.') ' ';
		counter-increment: section;
	}
}
