// Базовый файл стилей

.main {
	position: relative;

	&__offer {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		position: relative;
		z-index: 2;
		margin-top: -250px;
		border-radius: 50px;
	}

	&__title {
		line-height: 1.1;
	}
}

.help-you {
	position: relative;

	&__img {
		max-height: 600px;
	}

	&__offer {
		border-radius: 50px;
	}
}

.problems {
	position: relative;

	&__dot {
		flex-shrink: 0;
		width: 24px;
		margin-right: 24px;
		background-color: $secondary;
		border-radius: 100%;
		aspect-ratio: 1;
	}
}

.reason {
	position: relative;

	&__offer {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		margin-top: -200px;
		border-radius: 50px;
	}

	&__card {
		background: $secondarylight;
	}
}

.steps {
	position: relative;

	&__item {
		position: relative;
		border-radius: 24px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: $secondary;
			border-radius: 50px;
			content: '';
		}

		&:last-child {
			content: '';

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 4px;
				background-color: $secondary;
				border-radius: 50px;
				content: '';
			}
		}
	}
}

.technology {
	position: relative;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		margin: 20px auto;
		background: $secondary;
		border-radius: 100%;
		aspect-ratio: 1;
	}
}

.profit {
	position: relative;

	&__title {
		@include media-breakpoint-down(lg) {
			margin-top: -50px;
		}

		margin-top: -270px;
	}

	&__number {
		position: absolute;
		right: 0;
		bottom: 0;
		color: $secondary;
		font-weight: 900;
		font-size: 250px;
		line-height: 1;
		opacity: 0.1;
	}
}

.cost {
	position: relative;
	overflow: hidden;

	&__bg {
		@include media-breakpoint-down(lg) {
			background: $secondarylight;
			border-radius: 0;
		}

		background: linear-gradient(90deg, $secondarylight 0%, $secondarylight 50%, $secondary 50%, $secondary 100%);

		border-radius: $border-radius-xl;
	}

	&__span {
		background-color: #fff;

		&.active {
			font-weight: 500;
		}
	}

	&__radio {
		display: none;
	}

	&__img {
		@include media-breakpoint-down(lg) {
			bottom: 25%;
		}

		position: absolute;
		right: -16px;
		bottom: -5%;
	}
}

.form-control {
	position: relative;

	&::placeholder {
		color: rgba($primary, 0.4);
	}
}

.faq {
	position: relative;

	.accordion-item {
		border: 1px solid $secondarylight;
		border-radius: $border-radius-xl;
	}

	.accordion-button {
		background-color: $secondarylight;
	}
}
