{% extends "templates/layouts/base.twig" %}

{% set title = "404 - страница не найдена" %}

{% block page %}
	{% include "templates/partials/header.twig" %}
	<section class="vh-100 w-100 d-flex align-items-center bg-white">
		<div class="container">
			<div class="row gx-lg-5">
				<div class="col-lg-6 col-12">
					<img src="/src/assets/img/404.jpeg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-12">
					<div class="d-flex flex-column justify-content-center h-100 text-secondary mt-3">
						<h1>Ошибка 404</h1>
						<h2>Страница не найдена</h2>
						<div class="py-3 fw-light fs-5">Страница, на которую вы перешли, не существует, <br>либо вы зашли по неверному адресу.</div>
						<div class="button">
							<a href="/" class="btn btn-outline-secondary rounded-0">Вернуться на главную страницу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "templates/partials/footer.twig" %}
{% endblock %}
