{% extends "templates/layouts/base.twig" %}

{% set title = "Психолог Сергеева Татьяна | Реквизиты" %}

{% block content %}

	<section class="requisites py-45 py-lg-6">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="fw-700 fs-32 fs-lg-60 mb-6">Реквизиты</h1>
				</div>
			</div>
			<div class="row gy-4 py-5">
				<div class="col-md-6">Название организации</div>
				<div class="col-md-6">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ СЕРГЕЕВА ТАТЬЯНА АЛЕКСЕЕВНА</div>

				<div class="col-md-6">Юридический адрес организации</div>
				<div class="col-md-6">410007, РОССИЯ, САРАТОВСКАЯ ОБЛ, Г САРАТОВ, УЛ ИМ АКАДЕМИКА О.К.АНТОНОВА, Д 24, КВ 231</div>

				<div class="col-md-6">ИНН</div>
				<div class="col-md-6">644108102374</div>

				<div class="col-md-6">Расчетный счет</div>
				<div class="col-md-6">40802810600001799991</div>

				<div class="col-md-6">ОГРН/ОГРНИП</div>
				<div class="col-md-6">321645100002255</div>

				<div class="col-md-6">Банк</div>
				<div class="col-md-6">АО «Тинькофф Банк»</div>

				<div class="col-md-6">БИК банка</div>
				<div class="col-md-6">044525974</div>

				<div class="col-md-6">ИНН банка</div>
				<div class="col-md-6">7710140679</div>

				<div class="col-md-6">Корреспондентский счет банка</div>
				<div class="col-md-6">30101810145250000974</div>

				<div class="col-md-6">Юридический адрес банка</div>
				<div class="col-md-6">127287, г. Москва, ул. Хуторская 2-я, д. 38А, стр. 26</div>
			</div>
		</div>
	</section>


{% endblock %}
