{% extends "templates/layouts/base.twig" %}

{% set title = "Психолог Сергеева Татьяна | Правила возврата денежных средств" %}

{% block content %}

	<section class="oferta py-45 py-lg-6">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="fw-700 fs-32 fs-lg-60 mb-6">Правила возврата денежных средств</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<p><strong>Правила возврата денежных средств</strong></p>
					<p><span style="font-weight: 400;">&nbsp;</span></p>
					<p><span style="font-weight: 400;">Настоящие Правила возврата денежных средств (далее - Правила) регулируют отношения между Исполнителем и Заказчиком, связанные с возвратом оплаченной стоимости Услуг в случае досрочного расторжения Договора.</span></p>
					<ol>
					<li><strong> Общие положения</strong></li>
					</ol>
					<p><span style="font-weight: 400;">1.1. Пользователь вправе в любое время отказаться от исполнения договора оказания услуг при условии оплаты Исполнителю фактически понесенных им расходов.</span></p>
					<p><span style="font-weight: 400;">1.2.Возврат денежных средств возможен по письменному заявлению Заказчика об отказе от Услуг.&zwj;</span></p>
					<p><span style="font-weight: 400;">1.3. При отказе Заказчика от Услуг надлежащего качества, оплаченных с использованием банковских продуктов (потребительских кредитов, рассрочек и пр. продуктов), сумма к возврату и расходы Исполнителя, рассчитываются от суммы денег, полученных Исполнителем от банка в счет оплаты Услуг, оказываемых Заказчику.</span></p>
					<p><span style="font-weight: 400;">1.4. При отказе Заказчика от Услуг, Исполнитель возвращает Заказчику уплаченные денежные средства за вычетом: понесенных Исполнителем расходов, указанных в п. 2 настоящих Правил,&nbsp; а также банковских комиссий, процентов и иных расходов при отказе Заказчика от Услуг надлежащего качества, оплаченных с использованием банковских продуктов (потребительских кредитов, рассрочек и пр. продуктов).</span></p>
					<ol start="2">
					<li><strong> Расходы исполнителя.</strong></li>
					</ol>
					<p><span style="font-weight: 400;">2.1.Расходы исполнителя составляют:</span></p>
					<p><span style="font-weight: 400;">2.1.1. В течение первых 14 календарных дней с даты начала оказания Услуг 10% от стоимости Услуг. Заказчику возвращается 90% от стоимости Услуг;</span></p>
					<p><span style="font-weight: 400;">2.1.2. С 14 по 30 календарный день с даты начала оказания Услуг расходы Исполнителя 40% от стоимости Услуг. Заказчику возвращается 60% от стоимости Услуг;</span></p>
					<p><span style="font-weight: 400;">2.1.3. С 30 по 60 календарный день с даты начала оказания Услуг расходы Исполнителя составляют 60% от стоимости Услуг. Заказчику возвращается 40% от стоимости Услуг;</span></p>
					<p><span style="font-weight: 400;">2.1.4. С 60 по 90 календарный день с даты начала оказания Услуг расходы Исполнителя составляют 80% от стоимости Услуг. Заказчику возвращается 20% от стоимости Услуг;&zwj;</span></p>
					<p><span style="font-weight: 400;">2.2. Сумма возврата рассчитывается на дату получения Исполнителем Заявления Заказчика.</span></p>
					<p><span style="font-weight: 400;">2.3. В случае неисполнения Заказчиком требований получения Услуг (не ознакомление Заказчика с предоставленными материалами, непосещение консультаций, отсутствие обратной связи в процессе индивидуального сопровождения, посредством мессенджеров) денежные средства не возвращаются, и Услуги считаются оказанными в полном объеме.</span></p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
